{% extends 'base.html.twig' %}

{% block title %}Ver Receta{% endblock %}
{% block stylesheets %}<link href="{{ asset('styles/view_recipe.css') }}" rel="stylesheet">{% endblock %}
{% block body %}
    <h1>Ver Receta</h1>
    <p>Bienvenido al controlador: {{ controller_name }}</p>
    {# Aquí puedes agregar el contenido específico para la vista de receta #}
{% endblock %}