{% extends 'base.html.twig' %}

{% block title %}Ver Stock{% endblock %}
{% block stylesheets %}<link href="{{ asset('styles/view_stock.css') }}" rel="stylesheet">{% endblock %}
{% block body %}
    <h1>Ver Stock</h1>
    <p>Bienvenido al controlador: {{ controller_name }}</p>
    {# Aquí puedes agregar el contenido específico para la vista de stock #}
{% endblock %}